select {
	width:100%;
	padding: 6px 12px;
	margin-bottom: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

form.button-link-form{
	display:inline;
}

.public-comment-block{
	margin-bottom:30px;
}

@media (max-width: 480px) {

	header { 
		background-color: yellow;
	}	
}