<div class="header">
        <h3 class="text-muted pull-left"><a href="/"><img src="images/logo.png" alt="Course book store" width="280px"></a></h3>
        <form role="form" class="pull-right">
          <div class="form-group search-form">
            <div class="pull-left" style="margin-right:5px;">
              <label for="universityName">University Name:</label>
              <input type="text" class="form-control" id="universityName" placeholder="Enter University Name">
              <nav><button type="button" class="btn btn-link"><a href="sign-in.html">Login/SignUp</a></button>
                <button type="button" class="btn btn-link"><a href="/browse">Browse</a></button>
                <button type="button" class="btn btn-link"><a href="/advanced-search">Search</a></button>
              </nav>
            </div>
            <div class="pull-right">
              <label for="courseCode">Unit Code:</label>
              <input type="text" class="form-control" id="courseCode" placeholder="PMO201">
              <button type="submit" class="btn btn-success pull-right search-button">Submit</button>
            </div>
          </div>
          
        </form>
        
      </div>