 <ul class="nav nav-tabs" role="tablist">
        <li {{if eq . "profile"}}class="active"{{end}}><a href="profile"><span class="glyphicon glyphicon-home">&nbsp;</span></a></li>
        <li {{if eq . "edit-profile"}}class="active"{{end}}><a href="edit-profile"  >Edit Profile</a></li>
        <li {{if eq . "books-for-sale"}}class="active"{{end}}><a href="books-for-sale" >Your Books for Sale</a></li>
        <li {{if eq . "browse"}}class="active"{{end}}><a href="browse">Browse</a></li>
        <li {{if eq . "messages-home"}}class="active"{{end}}><a href="messages-home">Messages(1)</a></li>
        <li {{if eq . "feedback"}}class="active"{{end}}><a href="feedback">Feedbacks(1)</a></li>
        <li ><a href="#">Logout</a></li>
      </ul>