
<!DOCTYPE html>
<html lang="en">
 {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      <ul class="nav nav-tabs" role="tablist">
        <li><a href="profile.html"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="edit_profile.html">Edit Profile</a></li>
        <li><a href="books_for_sale.html">Your Books for Sale</a></li>
        <li><a href="browse.html">Browse</a></li>
        <li><a href="messages_home.html">Messages(1)</a></li>
        <li><a href="feedback.html">Feedbacks(1)</a></li>
        <li><a href="#">Logout</a></li>
      </ul>

      <h3>Advanced search</h3>
      
      <div class="row marketing">

        <div class="col-lg-6">
          
          <form action="">
            <label for="newBookUniversity">Univerity:</label>
            <input type="text" class="form-control" id="newBookUniversity" placeholder="Charles Darwin University">

            <label for="newBookUnitCode">Unit Code:</label>
            <input type="text" class="form-control" id="newBookUnitCode" placeholder="LIT101">

        </div>

        <div class="col-lg-6">
          <h4>Optional Search Filters:</h4>

          <label for="newBookTitle">Book Title:</label>
          <input type="text" class="form-control" id="newBookTitle" placeholder="Book title">
          
          <label for="newBookPrice">Price Range:</label>

          <div class="form-inline">
            <input type="text" class="form-control" id="searchBookMinPrice" size="4" placeholder="$ 40"> to  
            <input type="text" class="form-control" id="searchBookMaxPrice" size="4" placeholder="$ 40">
          </div>

          <label for="newBookEdition">Book Edition:</label>
          <div class="form-inline">
            <input type="text" class="form-control" id="searchBookEditionMinRange" size="6"  placeholder="1st Edition"> to  
            <input type="text" class="form-control" id="searchBookEditionMaxRange" size="6"  placeholder="14th Edition">
          </div>

          <label for="newBookAuthor">Book author(s):</label>
          <input type="text" class="form-control" id="newBookAuthor" placeholder="Multiple authors seperated by comma (,)">

          <label for="newBookISBN">Tags:</label>
          <input type="text" class="form-control" id="new" placeholder="Psychology, Project Management">

          <button type="submit" class="btn btn-success pull-right search-button">Search book</button>

          </form>

        </div>
          
      </div>

      {{template "_footer.html"}}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
