
<!DOCTYPE html>
<html lang="en">
  {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      {{template "_main_nav.html" .Active}}

      <h3>Your Books for sale <a href="add_book.html"><button type="button" class="btn btn-primary pullright add-book-button">Add new book</button></a></h3> 

      <div class="row marketing">

        <div class="book-display-block">
          <div class="col-lg-2">
            <img src="http://placehold.it/110x123" >
          </div>

          <div class="col-lg-4">
            <h4><a href="#">The yellow king</a></h4>
            <p><b>Posted on:</b> 28th May by <b>Steven</b></p>
            <p>3rd Edition</p>
            <p>
              <button type="submit" class="btn btn-primary pullright mark-sold-button">Mark as Sold</button>
              <button type="submit" class="btn btn-danger pullright remove-button">Remove</button>
            </p>
          </div>

        </div>

        <div class="book-display-block">
          <div class="col-lg-2">
            <img src="http://placehold.it/110x123" >
          </div>

          <div class="col-lg-4">
            <h4><a href="#">The yellow king</a></h4>
            <p><b>Posted on:</b> 28th May by <b>Steven</b></p>
            <p>3rd Edition</p>
            <p>
              <button type="submit" class="btn btn-primary pullright mark-sold-button">Mark as Sold</button>
              <button type="submit" class="btn btn-danger pullright remove-button">Remove</button>
            </p>
          </div>

        </div>

        <div class="book-display-block">
          <div class="col-lg-2">
            <img src="http://placehold.it/110x123" >
          </div>

          <div class="col-lg-4">
            <h4><a href="#">The yellow king</a></h4>
            <p><b>Posted on:</b> 28th May by <b>Steven</b></p>
            <p>3rd Edition</p>
            <p>
              <button type="submit" class="btn btn-primary pullright mark-sold-button">Mark as Sold</button>
              <button type="submit" class="btn btn-danger pullright remove-button">Remove</button>
            </p>
          </div>

        </div>

        <div class="book-display-block">
          <div class="col-lg-2">
            <img src="http://placehold.it/110x123" >
          </div>

          <div class="col-lg-4">
            <h4><a href="#">The yellow king</a></h4>
            <p><b>Posted on:</b> 28th May by <b>Steven</b></p>
            <p>3rd Edition</p>
            <p>
              <button type="submit" class="btn btn-primary pullright mark-sold-button">Mark as Sold</button>
              <button type="submit" class="btn btn-danger pullright remove-button">Remove</button>
            </p>
          </div>

        </div>

      </div>

      {{template "_footer.html" }}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
