
<!DOCTYPE html>
<html lang="en">
  {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      {{template "_main_nav.html" .Active}}

      <div class="row marketing">

        <div class="col-lg-6">
          <h4>All universities</h4>
          <p>Click university name to view courses</p>
          <ul>
            <li><a href="#">Australian Catholic University [ACU]</a></li>
            <li><a href="#">Australian National University [ANU]</a></li>
            <li><a href="#">Bond University [Bond]</a></li>
            <li><a href="#">Central Queensland University [CQU]</a></li>
            <li><a href="#">Charles Darwin University [CDU]</a></li>
            <li><a href="#">Charles Sturt University [CSU]</a></li>
            <li><a href="#">Curtin University [CURTIN]</a></li>
            <li><a href="#">Deakin University [Deakin]</a></li>
            <li><a href="#">Edith Cowan University [ECU]</a></li>
            <li><a href="#">Federation University [FEDUNI]</a></li>
            <li><a href="#">Flinders University [FLINDERS]</a></li>
            <li><a href="#">Griffith University [GRIFFITH]</a></li>
            <li><a href="#">James Cook University [JCU]</a></li>
            <li><a href="#">La Trobe University [LATROBE]</a></li>
            <li><a href="#">Macquarie University [MACQUARIE]</a></li>
            <li><a href="#">Monash University [MONASH]</a></li>
            <li><a href="#">Murdoch University [MURDOCH]</a></li>
            <li><a href="#">Queensland University of Technology [QUT]</a></li>
            <li><a href="#">RMIT University [RMIT]</a></li>
            <li><a href="#">Southern Cross University [SCU]</a></li>
            <li><a href="#">Swinburne University of Technology [SWINBURNE]</a></li>
            <li><a href="#">University of Adelaide [ADELAIDE]</a></li>
            <li><a href="#">University of Canberra [CANBERRA]</a></li>
            <li><a href="#">University of Melbourne [MELBOURNE]</a></li>
            <li><a href="#">University of New England [UNE]</a></li>
            <li><a href="#">University of New South Wales [UNSW]</a></li>
            <li><a href="#">University of Newcastle [NEWCASTLE]</a></li>
            <li><a href="#">University of Notre Dame [UNDA]</a></li>
            <li><a href="#">University of Queensland [UQ]</a></li>
            <li><a href="#">University of South Australia [UniSA]</a></li>
            <li><a href="#">University of Southern Queensland [USQ]</a></li>
            <li><a href="#">University of Sydney [SYDNEY]</a></li>
            <li><a href="#">University of Tasmania [UTAS]</a></li>
            <li><a href="#">University of Technology Sydney [UTS]</a></li>
            <li><a href="#">University of the Sunshine Coast [USC]</a></li>
            <li><a href="#">University of Western Australia [UWA]</a></li>
            <li><a href="#">University of Western Sydney [UWS]</a></li>
            <li><a href="#">University of Wollongong [UOW]</a></li>
            <li><a href="#">Victoria University [VU]</a></li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h4>Recently Accessed Courses</h4>
        </div>
          
      </div>

      {{template "_footer.html"}}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
