
<!DOCTYPE html>
<html lang="en">
  {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      {{template "_main_nav.html" .Active}}

      <h3>Update your profile</h3>

      <div class="row marketing">

        <div class="col-lg-3">
          <img src="http://placehold.it/170x150" />
          
        </div>

        <div class="col-lg-9">
          <button type="submit" class="btn btn-primary change-profilepicture-button">Update Profile Picture</button>

          <p>Do not fill out information to to be udpated.</p>

          <form action="">
            <label for="userName">Full Name:</label>
            <input type="text" class="form-control" id="userName" placeholder="Bidhan Neupane">
            <label for="userEmail">New Email Address:</label>
            <input type="text" class="form-control" id="userEmail" placeholder="s254454@cdu.edu.au">
            <label for="oldPassword">Old Password:</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="***********">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" placeholder="***********">
            <label for="newPassword">Confirm New Password:</label>
            <input type="password" class="form-control" id="newPassword" placeholder="***********">
            <label for="userUniversity">University:</label>
            <input type="text" class="form-control" id="userUniversity" placeholder="Charles Darwin University">

            <button type="submit" class="btn btn-success pull-left update-profile-button">Update Profile</button>

        </div>
          
      </div>

      {{template "_footer.html" }}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
