
<!DOCTYPE html>
<html lang="en">
  {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      {{template "_main_nav.html" .Active}}
      <h3>Pending feedbacks:</h3>
      <div class="row marketing">

        <div class="row row-margin">
            <div class="col-lg-2">
             <img src="http://placehold.it/110x142" >
            </div>

            <div class="col-lg-10">
              <h4><a href="#">The yellow king</a></h4>
              <p>Bought from <b>Steven</b> (3rd Edition)</p>
              <input type="text" class="form-control" id="buyerFeedback" placeholder="Feedback">
              <button type="submit" class="btn btn-primary pullright search-button">Save</button>
            </div>
        </div>

        <div class="row row-margin">
            <div class="col-lg-2">
             <img src="http://placehold.it/110x142" >
            </div>

            <div class="col-lg-10">
              <h4><a href="#">The red train</a></h4>
              <p>Bought from <b>Steven</b> (3rd Edition)</p>
              <input type="text" class="form-control" id="buyerFeedback" placeholder="Feedback">
              <button type="submit" class="btn btn-primary pullright search-button">Save</button>
            </div>
        </div>
          
      </div>

      {{template "_footer.html" }}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
