
<!DOCTYPE html>
<html lang="en">
  	{{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      <div class="jumbotron">
        <h1>Welcome to <span class="generic-green">Course Book Store</span></h1>
        <p class="lead">Course book store is your number one stop to find second hand books with simply your University name and the Unit Code.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        <p>
        <a class="btn btn-sm btn-primary btn-small" href="#" role="button">Buy Books</a>
        <a class="btn btn-sm btn-primary btn-small" href="#" role="button">Sell Books</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Most Recent Universities</h4>
          <ul>
            <li><a href="#">Charles Darwin University</a></li>
            <li><a href="#">University of Western Sydney</a></li>
            <li><a href="#">Melbourne Institute of Technology</a></li>
            <li><a href="#">Deakin University</a></li>
            <li><a href="#">Charles Stuart University</a></li>
          </ul>
        </div>

        <div class="col-lg-6">
          <h4>Most Recent Books</h4>
          <ul>
            <li><a href="#">Anatomy of Dinosaur</a></li>
            <li><a href="#">The Yellow King</a></li>
            <li><a href="#">The History of Awesometacular</a></li>
            <li><a href="#">Charles Babbage</a></li>
            <li><a href="#">Seven Nation Army</a></li>
          </ul>
        </div>
      </div>

      {{template "_footer.html"}}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
