
<!DOCTYPE html>
<html lang="en">
  {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      {{template "_main_nav.html" .Active}}
      
      <h3>Messages:</h3>
      <div class="row marketing">

        <div class="row-margin row">
            <div class="col-lg-2">
             <img src="http://placehold.it/110x100" >
            </div>

            <div class="col-lg-10">
              <h4>Steven says:</h4>
              <p><a href="#">When can i get the book?</a></p>
            </div>
          </div>

          <div class="row-margin row">
            <div class="col-lg-2">
             <img src="http://placehold.it/110x100" >
            </div>

            <div class="col-lg-10">
              <h4>You said to Bidhan:</h4>
              <p><a href="#">Posted the book via Aus express. Can you please verify the paypal payment?</a></p>
            </div>
          </div>
          
      </div>

      {{template "_footer.html" }}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
