
<!DOCTYPE html>
<html lang="en">
  {{template "_head.html" .Title}}

  <body>

    <div class="container">
      {{template "_header.html" }}

      {{template "_main_nav.html" .Active}}
    
     <h3>Welcome back << Bidhan >>!</h3>
    
      <div class="row marketing">

       

        <div class="col-lg-4">
          <h5>Recent addition to wishList:</h5>
          <ul>
            <li><a href="#">The yollow king</a></li>
            <li><a href="#">Fight club</a></li>
            <li><a href="#">Keaton: Inside the mind of birdman</a></li>
            <li><a href="#">Gareth Bale: The legend</a></li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h5>Recent messages:</h5>
          <ul>
            <li><a href="#">Steven says Hello..</a></li>
            <li><a href="#">Bidhan says later..</a></li>
            <li><a href="#">Phil says i'd..</a></li>
          </ul>
        </div>

        <div class="col-lg-4">
          <h5>Recently added books <!--for your University:--></h5>
          <ul>
            <li><a href="#">The yollow king</a></li>
            <li><a href="#">Fight club</a></li>
            <li><a href="#">Keaton: Inside the mind of birdman</a></li>
            <li><a href="#">Gareth Bale: The legend</a></li>
          </ul>
        </div>
          
      </div>

      {{template "_footer.html" }}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
